- name: Windows Build installer
  run: |
    rmdir /s /q dist || echo "no dist"
    npm run dist -- --publish=never

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install

      - name: Build installer
        run: npm run dist -- --publish=never

      - name: Upload installer
        uses: actions/upload-artifact@v4
        with:
          name: FQL-Installer
          path: dist/**
